.git
.github
.gitignore
__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
.env
.venv
venv
env
node_modules
data
*.log
*.sqlite3
.chroma
.chroma_cache
*.jpg
*.png
*.jpeg
*.mp4
*.zip
*.csv
*.ipynb
.ipynb_checkpoints
*.pdf
*.docx
*.pptx
.DS_Store
